.heroMain img{
    width: 650px;
    position: relative;


}
.heroMain{

    word-wrap: break-word;
    max-width: 1269px;
    margin: auto;
}
.heroText{
    font-size: 49px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    /* padding-inline: 58px; */
    /* width: 100%; */
    margin-top: 23rem;
}
.heroSmallText{
    color: white;
    text-align: center;
    position: absolute;
    text-transform:capitalize;
    bottom: 12rem;
}
.images{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    display: none;
}
.aboutHero{
    width: 80%;

    margin: auto;

    display: flex;
    justify-content: center;

}
.about{
    position: absolute;
    bottom: -9rem;

}
.images img{

    width: 100%;
}
.aboutImage{
    max-width: 200px;
    /* max-height: 240px; */
    overflow: hidden;
}
.aboutBg{
    background: transparent !important;
    margin-top: 0rem;
}
.aboutHead{
    color: #001838 !important;
    font-weight: 700 !important;
}
.aboutPara{
    color: black !important;
}
.btn{
    display: none;
}
