.heroMain img{
    max-width: 35%  ;
    position: relative;


}
.heroMain{

    word-wrap: break-word;
}
.heroText{
    font-size: 49px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    padding-inline: 58px;
    /* width: 100%; */
}
.heroSmallText{
    color: white;
    text-align: center;
    position: absolute;
    text-transform:capitalize;
    bottom: 10rem;
}
.aboutHero{
    max-width: 80%;
    margin: auto;
    height: 20px;
    background-color: white !important;
    position: absolute;
    bottom: 0;
}