.mainHero{
    background: #001830 url(https://ed-mylett-web.s3.us-west-1.amazonaws.com/kD-6hiJQh.png);
    max-height: 800px;
    position: relative;
}
.hero{
    background: url(https://www.edmylett.com/img/heroImage/contact.png ) no-repeat center bottom;
    background-size: 58% auto;



}
.hero::before{
    content: "";
    background: linear-gradient(179.1deg,rgba(0,24,56,0) .78%,#001838 87.76%);
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}
.heroMain{
    position: relative;
}
.heroMain button{

    position: absolute;
    bottom: 12rem;
    background: transparent;
    padding: 15px 40px;
    color: #c19752;
    background-color: transparent;
    border: 2px solid #c19752;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;

}
.heroMain button:hover{
    color: #fff;
    background: #c19752;
    border: 2px solid #c19752;
}
.textBox{
    position: absolute;
  padding: 35px 24px;

  background: #fff;
  box-shadow: 0 16rem 30rem -8rem rgba(8,34,69,.2);
width: 80%;
margin-inline: 9rem;
  z-index: 2;
  bottom: -3rem;

}
.textBox h3{
    text-align: center;
    padding-inline: 7rem;
    color: #546172;
    font-size: 19px;
    letter-spacing: 0.03rem;
    font-weight: 500;

}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1390px;
   
}
.left ,.right{
    flex: 1;
}
.left{
    background: url(https://www.edmylett.com/_next/static/media/background.f46fb087.png) center ;
}