
.header{

    height: fit-content;
    background-color: #c19752;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.3rem;
    gap: 1rem;
    position: relative;
    z-index: 999999;

}
.cout{
    font-size: 16px;
    font-weight: 700;
    color: #001838;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
}

.btn{
    padding: 5px 15px;
    background-color: #001838;
    border: none;
    color: #c19752;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: #c19752;
}